
        <div class="container">
          <div class="row">
           
        
		<h1 align="center" style="margin-top: 15px;"> BABY SITTER </h1>
		<br />

<ul style="list-style-type: square;margin-top: 15px;margin-left: 35px; margin-bottom: 15px;">
<h5>
		<li> <p> A Babysitter is someone who is Paid usually by the hour to care another person's children </p> </li>

		<li> <p> we provide exprienced babysitter which performing also changing diappers, caring sleeping child, preparing meals and playing games </p> </li>

		<li>  <p> Our babysitter is goverment licensed and policy verified. they all register in police directory before you can use their service confirm by police station </p> </li>

		<li> <p> They are good english speaker therefor baby comfort and also learn with it and ability to teach it </p> </li></h5>

	</ul>

</div>

 <div class="row">
 </div>

 </div>
