
        <div class="container">
          <div class="row">
           
        
		<h1 align="center" style="margin-top: 15px;"> CARPENTER </h1>
		<br />

<p> 
		<h4>
			Any time you need a qualified carpenter for cut fabricant install wooden and other structure according to your specification, Then our talented helper provide you a Best services.
    	</h4>                                                
	</p>

<p> 
	<h4>
		They consult with highlly trained architecture and because of that they doing job full of scientifically like planning, installation testing etc.
   	</h4>                                                
</p>

<p>  
	<h4> Responsibility </h4>
	<ul style="list-style-type: square;margin-top: 15px;margin-left: 35px; margin-bottom: 15px;">
			<h5><li> Make a blue print according to requirement (leaving room Kitchen) </li>
			<li> They can ensure all safty guideline all time </li>
			<li> Maintian your Leaving or hall arrengement and make them or repair them</li>
			<li> They can repair all the thing like from sofa bed to other wooden equipment of home or kitchen </li></h5>
	</ul>

</p>

	</div>
	  <div class="row">

	  </div>
	  </div>