
<center>
	<h1 class="lk"> KARJAT CITY INFORMATION </h1>
</center>

<div class="kcity">

		<p>&emsp;&emsp;&emsp;
		Karjat is a Town in Karjat Taluka in Raigad District of Maharashtra State, India. It belongs to Konkan region . It belongs to Konkan Division . It is located 66 KM towards East from District head quarters Alibag. It is a Taluka head quarter.
		 Karjat Pin code is 410201 and postal head office is Karjat (Raigarh(MH)).
		Karjat is a preferred spot for weekend holidays, picnics, river rafting, trekking, hiking, and mountain climbing. It is a favored destination during rainy season.</p>

		<p>&emsp;&emsp;&emsp;
		Many farm houses and residential colonies are situated here with all civil amenities and a municipal corporation. People from Mumbai, Navi Mumbai, Thane and Pune have second or weekend homes here and regularly celebrate festivals, new year parties, or weekend bash here. It is also popular for pleasure visits during the monsoon season. Distance from Chembur to Karjat is 64 kilometres and from Sion it is 66 kilometres. Karjat has an advanced bio-tech institute which has been developing patented hybrid varieties of rice of international repute, apart from other crops and techniques </p>

		<p>&emsp;&emsp;&emsp;The city is famous for education. Many students from the city have been listed in SSC and HSC merit lists. Every year students from Badlapur attend higher education intechnology, medicine and many other fields at Mumbai University. The city has many fine schools that teach in Marathi and English. There are two colleges affiliated to theUniversity of Mumbai. Recently. Due to its proximity to Mumbai and Pune, Karjat has also become an educational hub with several institutes of higher education being located here:</p>

		<p>
		  It has several tourist attractions including
			<ul style="margin-left: 120px; list-style-type: disc;">
				<h5><li>  Palasdari</li>
				<li> Matheran</li> 
				<li> Khandala</li>
				 <li> Bhimashankar</li>
				 <li> Malshej Ghat</li>
				  <li> Lonavla</li>.</h5>
			  </ul>
		 </p>
</div>

<div style="background-color: lightgrey;" >
			<img class="fg" src=" assets/images/Matheran.jpg" alt="The MATHERAN" tooltip="matheran"/ style="float: left ;"><br /><h2 class="lk"> MATHERAN </h2> <br />
			<p style="margin-bottom: :10px;margin-right:10px;">
				Matheran is a beautiful City in the india. Which is Located Raigad Dist in Maharashtra. after the monsoon best time to visit. The toy train of matheran is strongest point of hill station the can track 21 K.M. from the nerala station which is located 69K.M. from Mumbai and 120 KM from pune.
			</p>
			<p style="margin-bottom: :10px;margin-right:10px;">Matheran is a most famous and coolest Hill Station situated in Karjat Tahsil, Raigad District of Maharashtra, India. Matheran is the smallest hill station of India. It is located on the range of Western Ghats.
				
			</p>

			<p style="margin-bottom: :10px;margin-right:10px;">Matheran was discovered by Hugh Poyntz Malet, the then district collector of Thane district in May 1850. Lord Elphinstone, the then Governor of Bombay laid the foundations of the development as a future hill station. The British developed Matheran as a popular resort to beat the summer heat in the region.
			Matheran is connected to the town of Neral which lies at the base of the hills. A tar road connects Neral to Dasturi Naka which is 9 km (5.8 miles) from Matheran.
				
			</p>

			<p style="margin-bottom: :10px;margin-right:10px;">
				Matheran is a beautiful City in the india. Which is LOcated in Raigad taluka in Maharashtra state. after the monsoon best time to visit.
				the toy train of matheran is strongest point of hill station the can track 20 k.m. from the nerala station which is located 69K.M. from Mumbai and 120 KM from pune. 
			</p>
			<p style="margin-bottom: :10px margin-right:10px;">The Matheran hill railway had been inspected by <b> UNESCO</b> world heritage site officials in the last week of October 2009. The official declaration of its status as UNESCO world heritage site.

				
			</p>

			<p style="margin-bottom: :20px;margin-right:10px;">There are around 38 designated look-out points in Matheran, including the Panorma Point that provides a 360 degree view of the surrounding area and also the Neral town. From this point, the view of sunset and sunrise is breathtaking. The Louisa Point offers crystal clear view of the Prabal Fort. The other points are the One Tree Hill Point, Hart Point, Monkey Point, Porcupine Point, Rambgh Point.
				
			</p><br />

	</div>

	<div >	
			<img class="fg" src=" assets/images/khandus.jpg" alt="The KHANDAS" tooltip="Khandas"/ style="float: right;" >
			<br /><h2 class="lk"> BHIMASHANKAR TREK  </h2><br />

			<p style="margin-bottom: :10px;margin-left:20px;">
				Bhimashankar situated in the village of Bhavagiri, is a famous pilgrimage site at the end of the Sahyadri range. It is one of the twelve Jyotirlingas of Lord Shiva in India. The beautiful stone temple around 3296 feet high and the feeling of being lost in wilderness has made Bhimashankar a major trekking destination. And Khandas is a Village in Karjat Taluka in Raigad District of Maharashtra State. which is located upto 42 K.M. from karjat railway station. we can reach by MSRTC bus or Local rekshow. there are tow ways from khadus to BHIMASHANKAR, Ganesh ghat and Shidi ghat. 
			</p>
		

			<p style="margin-bottom: :10px;margin-left:20px;">The Bhīmāshankar temple is a composite of old and new structures in the Nagara style of architecture. It shows the excellency of the skills achieved by ancient Vishwakarma sculptors.   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    It is a modest yet graceful temple and it dates back to the 13th century while the sabhamandap was built in the 18th century by Nānā Phadnavis. The shikhara was built by Nana Phadnavis. The great Maratha ruler Shivaji is said to have made endowments to this temple to facilitate worship services. As with other Shiva temples in this area, the sanctum is at a lower level.
				
			</p>

			<p style="margin-bottom: :10px;margin-left:20px;">He started torturing Rishies and Sadhus. All this angered the Gods. They all along with Lord Brahma beseeched Lord Shiva to come for their rescue. Lord Shiva consoled the Gods and agreed to rescue them from the tyrant. On the other hand Bhima insists and orders Kamarupeshwara to worship him instead of Lord Shiva.
			</p>

			<p style="margin-bottom: :10px;margin-left:20px;">The routes and area are in dark forest so go in group and all needed information. if you need guide then contact to our website they can help to you. With outdoor activities on the increase and the work done within the communities by the different hiking groups who use Table Mountain and the Western Cape in general, the tracking system now has three rooms to track via WhatsApp. It’s such a blast for us to see the young and old now having the possibility of going up the “Berg” and no longer just having to view the mountain from their homes.

	</div>

	<div style="background-color: lightgrey;" >
			<img class="fg" src=" assets/images/peb.jpg" alt="The Peb Fort" tooltip="Peb fort" style="float: left ;"><br /><h2 class="lk"> Peb - Fort </h2> <br />
			<p style="margin-bottom: :10px;margin-right:10px;">
				Peb is also called ‘Vikatgad’ for its supposed shape of the Elephant Headed God, ‘Ganesh’. The trek to the top involves surmounting a small rock patch and a ladder.  It’s a small fort near the ranges of Matheran (the famous hill station in Maharashtra). It is situated on northeast side of Panvel, on Mumbai-Pune road, at a distance of 3-4 km on west side of Neral.
			</p>
			<p style="margin-bottom: :10px;margin-right:10px;">Visit the Neral railway station which is same for matheran visitores and after take MSRTC bus or Local rekshow.
			</p>

			<p style="margin-bottom: :10px;margin-right:10px;">This fort is visible from the edge of Panorama Point at Matheran or from Matheran Toy Train after you cross the One Kiss Tunnel. The Panorama Point at Matheran is at much higher level and gives a clear view of the small fortification of the fort. The fort is famous for its caves which are maintained by disciples of Swami Samartha and the meditation chambers carved out from the rock inside the mountain. To get inside the meditation chamber, one has to crawl through a narrow passage in the rock and then climb down into the meditation chamber.
				
			</p>

			<p style="margin-bottom: :10px;margin-right:10px;">  The chamber is very well maintained with tiles on the floor for people to sit and meditate. The fort also has a temple dedicated to Swami Samartha on the top and has the footwear or ‘Padukas’ worn by the great saint kept on the top. The view of the entire Neral and Karjat region from the top is worth the climb. Another attraction of the trek is the only standing Bastion or Buruj facing the Panorama point of Matheran, the view from here is just too beautiful to describe
			
			</p><br />

	</div>





