
        <div class="container">
          <div class="row">
           
        
		<h1 align="center" style="margin-top: 15px;">Electrician</h1>
		<br />

		<ul style="list-style-type: disc">
				<li> <p> Electricity is good for use but if not handling carefully than they harmfull to our as well as child life safty so don't take chance. </p> </li>

				<li> <p> Our Electrician is any electrical work of home, building offices, industrial or any elctrical equipment. </p> </li>

				<li>  <p> They can installs, services and repairs wiring coonduits, fixtures and other electrical devices and system. </p> </li>

				<li> <p> Our electeritian is Exprienced if you want install new set-up than they followed from blue prints , technicaldiagrams or consulting time to time client requirement ans sugession. </p> </li>

				<li>  <p> If we tired to move on electrical eqipment such as washing machine TV(big) or Freeze than Our Electritian 1st visit home, inspect them if monor problem than they solve otherwise move selfly to the shop( repering shop). </p> </li>
			</ul>
			<br />
          </div>

          <!-- z.css property change if required -->
          		 <div class="pkm">
 					<div class="kle">
						<img src="">
 					</div>
 					<div class="ple" ><center>
		 	             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                 hekloow a iam djhsdagcv a  afhjfha bjahc 
						 	<BR>
						 	fgfhh  fh      hsdklfhsk   vhlkfjksdfs  shdklfhs sfh sfsk f
						 	<br>
						 	jfgsjfhfkhs jgkjg   jglkjgfkdnaspod m lfjfufnfnaf </center>
				 	</div>
 				 </div>


 				 <div class="pkm">
 				 <div class="kle">
						<img src="">
 					</div>
 					<div class="ple" ><center>
		 	             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                 hekloow a iam djhsdagcv a  afhjfha bjahc 
						 	<BR>
						 	fgfhh  fh      hsdklfhsk   vhlkfjksdfs  shdklfhs sfh sfsk f
						 	<br>
						 	jfgsjfhfkhs jgkjg   jglkjgfkdnaspod m lfjfufnfnaf </center>
				 	</div>

 					

 				 </div>

        </div>
