        <%= render partial: "layouts/slider" %>
       
      <!-- Start Boxed Section -->
      <div class="boxed">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-8">
              <h3>We Are Ready to Help Your Home Work, Contact Now!</h3>
            </div>
            <div class="col-md-4 col-sm-4">
              <a href="#" class="btn btn-border">Get A quote</a>
            </div>
          </div>
        </div>
      </div>
      <!-- End Boxed Section -->

      <!-- Start Portfolio Section -->
      <%= render partial: "layouts/member" %>

      <!-- end Portfolio Section -->


      
     
      <!-- Start Counter Section -->
      <div id="counter" class="section">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="counter-item left-line">
                <div class="icon">
                  <i class="icon-check">
                  </i>
                </div>
                <h5>
                  Service Provided
                </h5>
                <hr>
                <div class="timer" data-to="20" data-speed="9000">
                </div>                
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="counter-item">
                <div class="icon">
                  <i class="icon-clock">
                  </i>
                </div>
                <h5>
                  Toatal Visitors
                </h5>
                <hr>
                <div class="timer" data-to="369" data-speed="5000">
                </div> 
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="counter-item">
                <div class="icon">
                  <i class="icon-trophy">
                  </i>
                </div>
                <h5>
                  Number Of Provider
                </h5>
                <hr>
                <div class="timer" data-to="29" data-speed="5000">
                </div> 
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="counter-item">
                <div class="icon">
                  <i class="icon-heart">
                  </i>
                </div>
                <h5>
                  Satisfied Clients
                </h5>
                <hr>
                <div class="timer" data-to="149" data-speed="5000">
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Counter Section -->

      <!-- Start Team Member Section -->

        <%= render partial: "layouts/teamember" %>

      <!-- Start Team Member Section -->


     
      <!-- Start Client Section -->
      <div class="client section">
        <div class="container">
          <!-- Start Heading -->
          <div class="heading">
            <div class="section-title">Service & <span>Provider</span></div>              
          </div>
          <!-- End Heading -->
          <!-- Some Text -->
          <p class="description text-center">
               In the professional world, a website is unique way to connect with the world. Many metropolitan cities have own application like mindiacator <br /> Delihi-c or website which can show all seviceses and information about city. Small servise Providers unable to maintain their <br />social activity, so found the group for making own city service website. 
          <div class="row">
            <div id="client-logo" class="touch-carousel">
              <div class="client-logo item" >
                <div class="client-item">

                  <img src="assets/images/logos/logo01.png" alt="" />
                
                </div>
              </div>
              <div class="client-logo item" >
                <div class="client-item">
                 
                                <img src="assets/images/logos/logo02.png" alt="" />

                </div>
              </div>
              <div class="client-logo item" >
                <div class="client-item">
                  <a href="#">
                  <img src="assets/images/logos/logo03.png" alt="" />
                  </a>
                </div>
              </div>
              <div class="client-logo item" >
                <div class="client-item">
                 
                                   <img src="assets/images/logos/logo04.png" alt="" />

                </div>
              </div>
              <div class="client-logo item" >
                <div class="client-item">

                  <img src="assets/images/logos/logo05.png" alt="" />

                </div>
              </div>
              <div class="client-logo item" >
                <div class="client-item">

                  <img src="assets/images/logos/logo06.png" alt="" />

                </div>
              </div>
              <div class="client-logo item" >
                <div class="client-item">

                  <img src="assets/images/logos/logo07.png" alt="" />

                </div>
              </div>
              <div class="client-logo item" >
                <div class="client-item">

                  <img src="assets/images/logos/logo08.png" alt="" />

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Client Section -->

