
 <div class="container">
          <div class="row">
           
        
		<h1 align="center" style="margin-top: 15px;"> PEST CONTROL </h1>
		<br />	
<h5>
	<ul style="list-style-type: disc;margin-top: 15px;margin-left: 35px; margin-bottom: 15px;">
		<li> <p>  Pest control workers control, manage, and remove unwanted creature such as roaches, rates, ants, termite and bedbugs that 		infest building and surrounding area. </p> </li>

		<li> <p> Our service provider identify your actual past problem, conduct inspection and design control stregies.  </p> </li>

		<li>  <p>  They use only limited range of pesticides.  </p> </li>

		<li> <p>  They use chemical as well as gases to accomplish this.  </p> </li>
		
</ul>

	
<p> 	Pest control chemical are toxic, and can be harmful to human so carefully handlimg there, our trained and licenced services provider 		use carefully with waring protective equipment.

</p></h5>

</div>
<div class="row">
</div>

</div>