        <div class="container">
          <div class="row">


				<h1 align="center" style="margin-top: 15px;"> WILD RANGER </h1>
				<br />
		

			<h4> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" Nobuddy made a Greater Mistake than he who Did Nothing because he could only do a Little"  </h4>

			<p> 
				<h4>
				The enire universe is not only humans but some rights of animal also, but today's fast life we neglate animal, pets as well as wild. If you cannot do a big things or work do a small and make them large like carring good habbits such as
				 </h4>                                                
			</p> 

			<ul style="list-style-type: disc;margin-top: 15px;margin-left: 35px; margin-bottom: 15px;">
					&nbsp;&nbsp;&nbsp;&nbsp;<li> <p> Don't spread plastic anywhere. </p> </li>

					<li> <p> Small bucket of water put at roof (summer). </p> </li>

					<li>  <p> Don't buy, adopt pets. </p> </li>

					<li> <p> Don't use lather or any things whose made from animal. </p> </li>

					<li>  <p> Don't go hunting. </p> </li>

					<li>  <p> Don't eat animal (more) be vegetraian. </p> </li>


					<li>  <p> Go slow at night and in the area of forest. </p> </li>

					<li>  <p> Don't fly kite. </p> </li>

					<li>  <p> Don't use palm oil. </p> </li>

				</ul></div>


				  <div class="row">
				<p>
					<h5> 
						After all the instruction we do only one things if any birds is injured or snake find in your home or compound call the Animal Friends(SARP MITRA). they catch him safelly and ****** to the forest Don't harm them or call the nerest  goverment animal hospital. 
					</h5>
				</p>
				</div>
		</div>