 
      <!-- Start Footer Section -->
      <footer>
        <div class="container">
          <div class="row footer-widgets">
            <!-- Start Contact Widget -->
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="footer-widget contact-widget">
                <h4>
                  <img src="assets/images/mlogo.png" class="img-responsive" alt="Footer Logo" />
                </h4>
                <p>
                <h3> "Stretch Until You Smile"</h3></p><p>
                  To create a better every day life for the many people in our city </p>
              </div>
            </div>
            <!-- End Contact Widget -->

            <!-- Start latest Work Posts Widget -->
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="footer-widget flickr-widget">
                <h4>
                  Latest Work
                </h4>
                <ul class="flickr-list">
                  <li>
                    <a href="assets/img/work/img-1.jpg" class="lightbox">
                    <img alt="" src="assets/img/work/img-1.jpg" alt="pravin">
                    </a>
                  </li>
                  <li>
                    <a href="assets/img/work/img-2.jpg" class="lightbox">
                    <img alt="" src="assets/img/work/img-2.jpg">
                    </a>
                  </li>
                  <li>
                    <a href="assets/img/work/img-3.jpg" class="lightbox">
                    <img alt="" src="assets/img/work/img-3.jpg">
                    </a>
                  </li>
                  <li>
                    <a href="assets/img/work/img-4.jpg" class="lightbox">
                    <img alt="" src="assets/img/work/img-4.jpg">
                    </a>
                  </li>
                  <li>
                    <a href="assets/img/work/img-5.jpg" class="lightbox">
                    <img alt="" src="assets/img/work/img-5.jpg">
                    </a>
                  </li>
                  <li>
                    <a href="assets/img/work/img-6.jpg" class="lightbox">
                    <img alt="" src="assets/img/work/img-6.jpg">
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- End latest Work  Widget -->

            <!-- Start Address Widget -->
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="footer-widget">
                <h4>
                  KCity Office
                </h4>
                <ul class="address">
                  <li>
                    <a>
                    <i class="fa fa-map-marker"></i> Vrundavan Society Karjat </a>
                  </li>
                  <li><a>
                    <i class="fa fa-phone"></i> (90217) 27849, (89831)17595    </a>
             
                   </li>
                  <li><a>
                    <i class="fa fa-envelope"></i> Pdhumak.11@gmail.com</a>

                  </li>
                  <li><a>
                    <i class="fa fa-fax"></i> FAX:(123) 123-4567</a>

                  </li>
                </ul>
              </div>
            </div>
            <!-- End Address Widget -->

            <!-- Start Text Widget -->
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="footer-widget hours-widget">
                <h4>
                  Business Hours
                </h4>
                <div class="contact-info">
                  <p>Our support available to help you 24 hours a day, seven days a week.</p>
                  <ul class="hours">
                    <li>Monday-Friday: <span>9am to 5pm</span></li>
                    <li>Saturday: <span>10am to 3pm</span></li>
                    <li>Sunday: <span>Closed</span></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- End Text Widget -->

          </div>
          <!-- .row -->        
        </div>



      <!-- Start Copyright -->
      <div class="copyright-section">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <p>
                Copyright &copy; 2017 KCity - Designed & Developed by 
                <a href="https://goo.gl/4g53q1" target="_blank">
                Pdhumak11
                </a>
              </p>
            </div>
          </div>
          <!-- .row -->
        </div>
      </div>
      <!-- End Copyright -->
      
      </footer>
      <!-- End Footer Section -->