 <!-- Start Header Section -->
      <header id="header-wrap" class="site-header clearfix">
        <!-- Start Top Bar -->
        <div class="top-bar hidden-xs">
          <div class="container">
            <div class="row">
              <div class="col-md-7 col-sm-9">
                <!-- Start Contact Info -->
                <ul class="contact-details">
                  <li>
                    <a href="contact_us" target="_blank">
                    <i class="icon-envelope">
                    </i>
                     Pdhumak.11@gmail.com
                    </a>
                  </li>
                  <li>
                    <a href="contact_us" target="_blank">
                    <i class="icon-call-out">
                    </i>
                    Call Us: (9021) 727- 849
                    </a>
                  </li>  
                  <li>
                    <a href="contact_us" target="_blank">
                    <i class="icon-clock">
                    </i>
                    Sun-Sat <span class="timing">(9am-5pm)</span>
                    </a>
                  </li>                
                </ul>
                <!-- End Contact Info -->
              </div>
              <div class="col-md-5 col-sm-3">
                <!-- Start Social Links -->
                <ul class="social-list">
                  <li>
                    <a href="https://goo.gl/vdfSGR" class="social-link facebook" data-toggle="tooltip" data-placement="bottom" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li>
                    <a href="https://twitter.com/PdhumakP?p=s" class="social-link twitter" data-toggle="tooltip" data-placement="bottom" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="https://goo.gl/JejNSG" class="social-link google" data-toggle="tooltip" data-placement="bottom" title="Google Plus" target="_blank"><i class="fa fa-google-plus"></i></a>
                  </li>
                  <li>
                    <a href="https://dribbble.com/Pdhumak11" class="social-link dribbble" data-toggle="tooltip" data-placement="bottom" title="Dribble" target="_blank" ><i class="fa fa-dribbble"></i></a>
                  </li>
                  <li>
                    <a href="https://goo.gl/sQ6ZUi" class="social-link linkdin" data-toggle="tooltip" data-placement="bottom" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
                  </li>
                </ul>
                <!-- End Social Links -->
              </div>
            </div>
          </div>
        </div>
        <!-- End Top Bar -->

        <!-- Start  Logo & Navigation  -->
        <div class="navbar navbar-default navbar-top" role="navigation" data-spy="affix" data-offset-top="50">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <!-- Stat Toggle Nav Link For Mobiles -->
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- End Toggle Nav Link For Mobiles -->
              <div class="logo-wrapper">
                <a class="navbar-brand" href="https://goo.gl/4g53q1" target="_blank">
                  <img src="assets/images/mlogo.png" alt="KCityService">
                </a>  
              </div>
            </div>
            <!--  Brand and toggle menu for mobile ends  -->

            <div class="navbar-collapse collapse">
              <!-- Stat Search -->
              <div class="search-side">
                <a class="show-search">
                <i class="icon-magnifier"></i>
                </a>
              </div>
              <!-- Form for navbar search area -->
              <form class="full-search">
                <div class="container">
                  <div class="row">
                    <input class="form-control" type="text" placeholder="Search...">
                    <a class="close-search">
                    <span class="fa fa-times fa-2x">
                    </span>
                    </a>
                  </div>
                </div>
              </form>
              <!-- Search form ends -->

              <!-- Start Navigation List -->
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a class="active" href="home">
                  Home
                  </a>
                 </li>
                <li>
                  <a href="electrician">
                  Services
                  </a>
                  <ul class="dropdown">
                    <li>
                      <a href="electrician">
                      Electritian
                      </a>
                    </li>
                    <li>
                      <a href="plumber">
                      Plumber
                      </a>
                    </li>
                    <li>
                      <a href="pest_control">
                      Pest Control
                      </a>
                    </li>
                    <li>
                      <a href="painter">
                      Painter/ Carpainter 
                      </a>
                    </li>
                    <li>
                      <a href="wild_ranger">
                      Wild Ranger
                      </a>
                    </li>
                    <li>
                      <a href="lock_smith">
                      LockSmith
                      </a>
                    </li>
                    <li>
                      <a href="baby_sitter">
                      BabySitter
                      </a>
                    </li>
                  </ul>
                </li>

                <li>
                  <a href="city_info">
                  Our City
                  </a>
                  <ul class="dropdown">
                    <li>
                      <a href="city_info">
                      About City
                      </a>
                    </li>
                    <li>
                      <a href="city_info">
                      History & Spots
                      </a>
                    </li>
                    <li>
                      <a href="http://raigad.nic.in/karjat/htmldocs/contact.html">
                      IMP Number
                      </a>
                    </li>
      
                  </ul>
                </li>

                <li>
                  <a href="contact.html">
                  Calender
                  </a>
                    <ul class="dropdown">
                    <li>
                      <a href="services.html">
                         <%= render partial: "layouts/calender" %>
                      </a>
                    </li>
                    </ul>

                </li>

                <li><a href="othr_service">Other Services</a>
                  <ul class="dropdown">
                    <li>
                      <a href="clubs">
                        Clubs
                      </a>
                    </li>
                    <li>
                      <a href="coaching">
                        Coaching
                      </a>
                    </li>
                    <li>
                      <a href="404.html">
                      Intirior Design
                      </a>
                    </li>
                  </ul>
                </li>
               
                <li>
                 <!-- <a href="users/sign_in"> -->
                 <%= link_to 'New Member', new_member_path(@member)%>
    
                       <ul class="dropdown">
                    <li>
                         <%= render partial: "layouts/count" %>
                      
                    </li></ul>

                </li>

                <li>
                  <a href="about">
                  Contact
                  </a>
                </li>

              </ul>
              <!-- End Navigation List -->
            </div>
          </div>

          <!-- Mobile Menu Start -->
                    <!-- PRAVIN COPY FROM UPPER AND SET HERE AFTER ALL SET UP -->

          <ul class="wpb-mobile-menu">
            <li>
              <a class="active" href="home">
              Home
              </a>
              <ul class="dropdown">
                <li>
                  <a href="index-02.html">
                  Home 2
                  </a>
                </li>
                <li>
                  <a href="index-03.html">
                  Home 3
                  </a>
                </li>
                <li>
                  <a href="index-04.html">
                  Home 4
                  </a>
                </li>
                <li>
                  <a href="index-05.html">
                  Home 5
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="features.html">
              Features
              </a>
            </li>
            <li>
              <a href="#">
              Company
              </a>
              <ul class="dropdown">
                <li>
                  <a href="about.html">
                  About Us
                  </a>
                </li>
                <li>
                  <a href="certifications.html">
                  Certifications
                  </a>
                </li>
                <li>
                  <a href="company-history.html">
                  Company History
                  </a>
                </li>
                <li>
                  <a href="partners.html">
                  Our Partners
                  </a>
                </li>
                <li>
                  <a href="team.html">
                  Our Team
                  </a>
                </li>
                <li>
                  <a href="careers.html">
                  Careers
                  </a>
                </li>
                <li>
                  <a href="Pricing.html">
                  Pricing
                  </a>
                </li>
                <li>
                  <a href="faq.html">
                  FAQ
                  </a>
                </li>
                 <li>
                  <a href="404.html">
                  404
                  </a>
                </li>
              </ul>
            </li>
            <li><a href="services.html">Services</a>
              <ul class="dropdown">
                <li>
                  <a href="services.html">
                    All Services
                  </a>
                </li>
                <li>
                  <a href="services1.html">
                  Services Layout 01
                  </a>
                </li>
                <li>
                  <a href="services2.html">
                  Services Layout 02
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="projects.html">
              Projects
              </a>
              <ul class="dropdown">
                <li>
                  <a href="projects.html">
                  Projects layout 1 - Full Width
                  </a>
                </li>
                <li>
                  <a href="projects-2.html">
                  Projects layout 2 - Boxed 1
                  </a>
                </li>
                <li>
                  <a href="projects-3.html">
                  Projects layout 3 - Boxed 3
                  </a>
                </li>
                <li>
                  <a href="single-project.html">
                  Single Project
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="blog.html">
              Blog
              </a>
              <ul class="dropdown">
                <li>
                  <a href="blog.html">
                  Blog - Right sidebar
                  </a>
                </li>
                <li>
                  <a href="blog-left-sidebar.html">
                  Blog - Left Sidebar
                  </a>
                </li>
                <li><a href="blog-full-width.html">Blog - Full Width</a></li>
                <li>
                  <a href="single-post.html">
                  Single Post
                  </a>
                </li>
              </ul>
            </li>
            <li><a href="shop.html">Shop</a></li>
            <li>
              <a href="contact.html">
              Contact
              </a>
            </li>
          </ul>
          <!-- Mobile Menu End -->

        </div>
        <!-- End Header Logo & Navigation -->
        <div class="clearfix"></div>
      </header>
      <!-- End Header Section -->