      <section id="portfolio" class="section">
        <!-- Portfolio Recent Projects -->
        <div id="portfolio-list">

          <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 mix buildings interior">
            <div class="portfolio-item">
              <img src="assets/img/portfolio/img-1.jpg" alt="" />
              <div class="overlay">
                <div class="icon">
                  <a href="electrician" target="_blank"><i class="icon-pointer left"></i></a>                  
                  <a href="assets/img/portfolio/img-1.jpg" class="lightbox"><i class="icon-magnifier right"></i></a>
                </div>               
              </div>  
              <div class="content">
                <h3><a href="electrician">Nitesh Gaikwad</a></h3>
                <p>Electririan </p>
              </div>         
            </div>            
          </div>

          <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 mix buildings architecture">
            <div class="portfolio-item">
              <img src="assets/images/Member/locksmith-01.jpg" alt="" />
              <div class="overlay">
                <div class="icon">
                   <a href="lock_smith" target="_blank"><i class="icon-pointer left"></i></a>
                  <a href="assets/images/Member/locksmith-01.jpg" class="lightbox"><i class="icon-magnifier right"></i></a>
                </div>  
              </div>    
              <div class="content">
                <h3><a href="lock_smith">Jameer Patel</a></h3>
                <p>LockSmith</p>
              </div>      
            </div>
            
          </div>
          <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 mix buildings isolation">
            <div class="portfolio-item">
              <img src="assets/images/Member/wild-04.jpg" alt="" />
              <div class="overlay">
                <div class="icon">
                  <a href="wild_ranger" target="_blank"><i class="icon-pointer left"></i></a>
                  <a href="assets/images/Member/wild-04.jpg" class="lightbox"><i class="icon-magnifier right"></i></a>
                </div>  
              </div>  
              <div class="content">
                <h3><a href="wild_ranger">Kiran Rao</a></h3>
                <p>Wild Ranger</p>
              </div>                       
            </div>
          </div>
          <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 mix interior">
            <div class="portfolio-item">
              <img src="assets/images/Member/towing-01.jpg" alt="" />
              <div class="overlay">
                <div class="icon">
                    <a href="towing_van" target="_blank"><i class="icon-pointer left"></i></a>
                    <a href="assets/images/Member/towing-01.jpg" class="lightbox"><i class="icon-magnifier right"></i></a>
                </div>  
              </div>
              <div class="content">
                <h3><a href="towing_van"> Umesh Fitter </a></h3>
                <p> Towing Van </p>
              </div>           
            </div>
          </div>
          <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 mix buildings interior">
            <div class="portfolio-item">
              <img src="assets/images/Member/Carpenter01.jpg" alt="" />
              <div class="overlay">
                <div class="icon">
                  <a href="car_penter" target="_blank"><i class="icon-pointer left"></i></a>
                  <a href="assets/images/Member/Carpenter01.jpg" class="lightbox"><i class="icon-magnifier right"></i></a>
                </div>  
              </div>
              <div class="content">
                <h3><a href="car_penter"> Suresh Parab</a></h3>
                <p>Car-penter</p>
              </div>           
            </div>
          </div>
          <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 mix buildings isolation">
            <div class="portfolio-item">
              <img src="assets/images/Member/Baby-01.jpg" alt="" />
              <div class="overlay">
                <div class="icon">
                  <a href="baby_sitter" target="_blank"><i class="icon-pointer left"></i></a>
                  <a href="assets/images/Member/Baby-01.jpg" class="lightbox"><i class="icon-magnifier right"></i></a>
                </div>  
              </div>
              <div class="content">
                <h3><a href="baby_sitter"> Sonali Patil </a></h3>
                <p> Baby Sitter </p>
              </div>           
            </div>
          </div>

           <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 mix buildings isolation">
            <div class="portfolio-item">
              <img src="assets/images/Member/Pest-02.jpg" alt="" />
              <div class="overlay">
                <div class="icon">
                  <a href="past_control" target="_blank"><i class="icon-pointer left"></i></a>
                  <a href="assets/images/Member/Pest-02.jpg" class="lightbox"><i class="icon-magnifier right"></i></a>
                </div>  
              </div>
              <div class="content">
                <h3><a href="past_control"> A Clear Agency</a></h3>
                <p> Pest Control </p>
              </div>           
            </div>
          </div>
          <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 mix buildings isolation">
            <div class="portfolio-item">
              <img src="assets/images/Member/penter.png" alt="" />
              <div class="overlay">
                <div class="icon">
                  <a href="plumber" target="_blank"><i class="icon-pointer left"></i></a>
                  <a href="assets/images/Member/penter.png" class="lightbox"><i class="icon-magnifier right"></i></a>
                </div>  
              </div>  
              <div class="content">
                <h3><a href="plumber"> Suresh Yadav </a></h3>
                <p> Plumber </p>
              </div>                       
            </div>
          </div>
          <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 mix interior">
            <div class="portfolio-item">
              <img src="assets/images/Member/Painter-02.jpg" alt="" />
              <div class="overlay">
                <div class="icon">
                    <a href="painter" target="_blank"><i class="icon-pointer left"></i></a>
                    <a href="assets/images/Member/Painter-02.jpg" class="lightbox"><i class="icon-magnifier right"></i></a>
                </div>  
              </div>
              <div class="content">
                <h3><a href="painter"> Bala Dhumak</a></h3>
                <p> Painter </p>
              </div>           
            </div>
          </div>
          <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 mix buildings interior">
            <div class="portfolio-item">
              <img src="assets/img/portfolio/img-5.jpg" alt="" />
              <div class="overlay">
                <div class="icon">
                  <a href="club" target="_blank"><i class="icon-pointer left"></i></a>
                  <a href="assets/img/portfolio/img-5.jpg" class="lightbox"><i class="icon-magnifier right"></i></a>
                </div>  
              </div>
              <div class="content">
                <h3><a href="club">Sed diam nonumy</a></h3>
                <p> Club </p>
              </div>           
            </div>
          </div>
          <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 mix buildings isolation">
            <div class="portfolio-item">
              <img src="assets/img/portfolio/img-6.jpg" alt="" />
              <div class="overlay">
                <div class="icon">
                  <a href="coaching" target="_blank"><i class="icon-pointer left"></i></a>
                  <a href="assets/img/portfolio/img-6.jpg" class="lightbox"><i class="icon-magnifier right"></i></a>
                </div>  
              </div>
              <div class="content">
                <h3><a href="coaching">At vero accusam</a></h3>
                <p> Coaching </p>
              </div>           
            </div>
          </div>

           <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 mix buildings isolation">
            <div class="portfolio-item">
              <img src="assets/img/portfolio/img-6.jpg" alt="" />
              <div class="overlay">
                <div class="icon">
                  <a href="othr_service" target="_blank"><i class="icon-pointer left"></i></a>
                  <a href="assets/img/portfolio/img-6.jpg" class="lightbox"><i class="icon-magnifier right"></i></a>
                </div>  
              </div>
              <div class="content">
                <h3><a href="othr_service">At vero accusam</a></h3>
                <p> Other Services </p>
              </div>           
            </div>
          </div>

        </div>
        <!-- End Portfolio  -->
      </section>
      <!-- End Portfolio Section -->
