<!-- Start Content Section -->
      <section id="content" class="error-bg">
    <!--    <div class="container">
          <div class="row">
              <div class="error-page"> -->

                  <div id="sliderFrame">
        <div id="slider">
            <a href="assets/images/sd05">
                <img src="assets/images/sd01.jpg" alt="DOn't Panic SOLUTION of HomeWork is Here" />
            </a>
            <a class="lazyImage" href="assets/images/sd02.jpg" title="All Neccesury work Find Here"> All Neccesury work Find Here</a>
            <a href="http://www.menucool.com/javascript-image-slider">
                <b data-src="assets/images/sd03.jpg" data-alt="#htmlcaption3">Webservice Available 24 X 7</b>
            </a>
            <a class="lazyImage" href="assets/images/sd04.jpg" title="All Type Of Pest Control.">All Type Of Pest Control</a>
            <a class="lazyImage" href="assets/images/sd05.jpg" title="#htmlcaption5">
                Our Licencesed Electririan Can Keep Your Home Safe</a>
            <a class="lazyImage" href="assets/images/sd06.jpg" title="Plumbing Available For Repair Mainting and Installing">Plumbing Available For Repair Mainting and Installing</a>
            <a class="lazyImage" href="assets/images/sd07.jpg" title="Don't Harm Animal, Call Free of Animal Friend">Don't Harm Animal, Call Free of Animal Friend</a>
            <a class="lazyImage" href="assets/images/sd08.jpg" title="Carpainter or Painter For Modification Our Home ">Carpainter or Painter For Modification Our Home</a>
        </div>
       <div style="display: none;">
            <div id="htmlcaption3">
                <em>Webservice</em> available for <a href="http://www.menucool.com/">24 x 7</a>.
            </div>
            <div id="htmlcaption5">
                Our Licencesed Electririan Can Keep Your Home Safe
            </div>
        </div> 
                
        <!--thumbnails-->
        <div id="thumbs">
            <div class="thumb"><img src="assets/images/sd01.jpg" /></div>
            <div class="thumb"><img src="assets/images/sd02.jpg" /></div>
            <div class="thumb"><img src="assets/images/sd03.jpg" /></div>
            <div class="thumb"><img src="assets/images/sd04.jpg" /></div>
            <div class="thumb"><img src="assets/images/sd05.jpg" /></div>
            <div class="thumb"><img src="assets/images/sd06.jpg" /></div>
            <div class="thumb"><img src="assets/images/sd07.jpg" /></div>
            <div class="thumb"><img src="assets/images/sd08.jpg" /></div>
        </div>
    </div>
    </section

      <!-- End Content Section  -->
