 <!-- Start Team Member Section -->
      
      <div class="team section">
        <div class="container">
          <!-- Start Heading -->
          <div class="heading">
            <div class="section-title">Team <span>Members</span></div>              
          </div>
          <!-- End Heading -->
          <!-- Some Text -->
          <p class="description text-center">
         "Effective leaders have clear vision and are able to communicate that vision to the members if the team. They develop a sense of urgency about the team's work, involve team members in goal setting and decision making and foster a climate of openness. People wanr to work for them...they have charisma!"
          </p>
          <div class="row">
            <!-- Start Memebr 1 -->
            <div class="col-md-3 col-sm-6">
              <div class="team-membe">
                <div class="team-thumbnil">
                  <img src="" alt="">
                  <div class="jk">
                    <p class="tet"></p>
                    <div class="info nme">
                      <h3></h3>
                      <p></p>
                    </div>
                    <div class="socialmedia">
                      <a href="#" class=""><i class=""></i></a>
                      <a href="#" class=""><i class=""></i></a>
                      <a href="#" class=""><i class=""></i></a>
                      <a href="#" class=""><i class=""></i></a>
                    </div>
                  </div>
                </div>
                <div class="nfo">
                  <h3></h3>
                  <p></p>
                </div>
              </div>
            </div>
            <!-- Start Memebr 2 -->
            <div class="col-md-3 col-sm-6">
              <div class="team-member">
                <div class="team-thumbnail">
                  <img src="assets/images/Team/pd.png" alt="">
                  <div class="overlay">
                    <p class="text">This is a Ruby-On-Rails Developer and completed MCA in Mumbai University </p>
                    <div class="info name">
                      <h4>Prawin Dhumak</h4>
                      <p>ROR Developer</p>
                    </div>
                    <div class="social-media">
                      <a href="https://goo.gl/vdfSGR" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                   <a href="https://twitter.com/PdhumakP?p=s" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                      <a href="https://goo.gl/JejNSG" class="google" target="_blank"><i class="fa fa-google-plus"></i></a>
                      <a href="https://goo.gl/sQ6ZUi" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
                <div class="info">
                  <h4>Prawin Dhumak</h4>
                  <p>ROR Developer</p>
                </div>
              </div>
            </div>
            <!-- Start Memebr 3 -->
            <div class="col-md-3 col-sm-6">
              <div class="team-member">
                <div class="team-thumbnail">
                  <img src="assets/images/Team/pd2.png" alt="">
                  <div class="overlay">
                    <p class="text">This is a Web Developer and completed BSc (IT) in Mumbai University </p>
                    <div class="info name">
                      <h4>Chhagan Deshmukh</h4>
                      <p>Web Developer</p>
                    </div>
                    <div class="social-media">
                      <a href="https://www.facebook.com/chhagan.j.deshmukh" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                      <a href="#" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                      <a href="#" class="google" target="_blank"><i class="fa fa-google-plus"></i></a>
                      <a href="https://www.linkedin.com/in/chhagan-deshmukh-5a842199" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
                <div class="info">
                  <h4>Chhagan Deshmukh</h4>
                  <p>Web Developer</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Start Team Member Section -->
