<!-- Go To Top Link -->
    <a href="#" class="back-to-top">
      <i class="fa fa-angle-up"></i>
    </a>

    <!-- Start Loader -->
    <div id="loader">
      <div class="square-spin">
        <div></div>
      </div>
    </div>
    
    <!-- Style Switcher -->
    <div class="switcher-box">
      <a class="open-switcher show-switcher">
        <i class="fa fa-cog fa-spin"></i>
      </a>
       <ul id="nav">
                 <li><a href="otr_servise">Other Srevices</a>
                    <ul class="subs">
                        <li><a href="club">Clubs</a></li>
                        <li><a href="coaching">Coaching Institude</a></li>
                        <li><a href="club">Interior</a></li>
                    </ul>
                </li>
                <li><a href="plumber">Home Services</a>
                    <ul class="subs">
                        <li><a href="plumber">Plumber</a></li>
                        <li><a href="painter">Painter</a></li>
                        <li><a href="car_paenter">CarPainter</a></li>
                    </ul>
                </li>
                <li><a href="electrician">Electritian</a>
                    <ul class="subs">
                        <li><a href="electrician">Fan & Mixture</a></li>
                        <li><a href="electrician">TV & Freeze 2</a></li>
                        <li><a href="electrician">Washing Machine</a></li>
                        <li><a href="electrician">AC </a></li>
                        <li><a href="electrician">Other Equipment</a></li>
                    </ul>
                </li>
                <li><a href="lock_smith">Key Maker</a></li>
                <li><a href="Pest_control">Pest Control</a></li>
                <li><a href="wild_ranger">Wild Ranger</a></li>
                <li><a href="towing_van">Tochan/Garage</a></li>
                <li><a href="baby_sitter">Baby Sitter</a></li>
            </ul>
            </div>